.text-bold {
    font-weight: bold;
}

.chatTitleContainer {
    text-align: left;
    font-size: 14pt;
    vertical-align: middle;
    display: table-cell;
    height: 50px;
    width: 100%;
    font-family: Expert-Sans-Regular, verdana, Arial, helvetica, sans-serif;
    color: #b5b5b5;
}

.chatContainer {
    height: 100%;
    width: 100%;
    background-color: #e4e4e4;
    padding: 20px;
}

.chatHistoryContainer {
    padding: 0 20px;
    overflow-y: auto;
    max-height: 515px;
    // height: 100%;
    width: 100%;
    background-color: #f4f4f4;
    border-top: 1px solid #e1e1e1;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #c3c3c3;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative;
}

.chatMessageControls {
    margin-top: 6px;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e1e1e1;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #c3c3c3;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#undoSendButton {
    margin-left: 10px;
    border-radius: 3px;
}

#clearMessageButton {
    border-radius: 0;
    border-left: none;
    border-right: none;
}

#sendMessageButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.fa {
    margin-right: 6px;
}

.formComments {
    list-style-type: none;
    // overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 0px;
    margin-top: 30px;
    // position: relative;
}

.chatHistoryContainer::before {
    content: '';
    width: 2px;
    height: calc(100% - 65px);
    background: #c7cacb;
    position: absolute;
    left: 60px;
    top: 65px;
}

.formComments li {
    margin-bottom: 10px;
    position: relative;
}

.commentstep-1 {
    margin-left: 0px;
}

.commentstep-2 {
    margin-left: 87px;
}

.commentstep-2::before {
    content: '';
    width: 45px;
    height: 1.5px;
    background: #c7cacb;
    position: absolute;
    top: 18px;
    left: -47px;
}

.commentstep-3 {
    margin-left: 96px;
}

.form-comments-table tr:nth-child(1) td:nth-child(3) {
    width: 100%;
}

.form-comments-table tr:nth-child(1) td:nth-child(1) {
    font-size: 9pt;
    color: #a7a7a7;
    white-space: nowrap;
    vertical-align: top;
}

.comment-user {
    margin-left: 10px;
    margin-right: 5px;
}

.form-comments-table tr td {
    white-space: nowrap;
}

.form-comments-table tr:nth-child(1) td:nth-child(1) {
    padding-top: 8px;
}

.form-comments-table tr:nth-child(1) td:nth-child(2) {
    padding-top: 8px;
    font-size: 9pt;
    color: #737373;
    font-weight: bold;
    vertical-align: top;
}

.form-comments-table tr:nth-child(1) td:nth-child(3) {
    vertical-align: top;
}

.form-comments-table tr:nth-child(1) td:nth-child(4) {
    width: 100%;
}

// .form-comments-table tr:nth-child(1) td:nth-child(5) {}
// .comment-step-controls {}
.comment-avatar {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    // background-color: #c9c9c9;
    ;
}

.comment-avatar img {
    width: 80px;
    height: 80px;
    margin: 0 5px;
    border-radius: 5px;
}

.comment-marker {
    margin-right: 10px;
    color: #aeaeae;
}

// .comment-step1:hover {}
.comment {
    width: 100%;
    background-color: #fff;
    font-size: 12px;
    margin: 0;
    padding: 8px 8px;
    line-height: 1.5;
    color: #9e9e9e;
    border-color: #ddd;
    // cursor: pointer;
    border: 1px solid #e6e6e6;
    border-bottom: 3px solid #dddddd;
    border-radius: 3px;
}

.comment:hover {
    background-color: #fafafa;
}

.comment-actions {
    border-top: 1px solid #dddddd;
    padding-top: 8px;
    margin-top: 8px;
    display: none;
}

// .commentTD {}