.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}


/* .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
} */

.upload-btn-wrapper input[type=file] {
    /* font-size: 100px; */
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}