.ta-c {
    text-align: center;
}

.ml-icon-mobile {
    margin-left: -5px;
}

.ml-icon-envelope {
    margin-left: -15px;
}

.btn-w {
    width: 177px;
    margin-bottom: 10px;
}

.btn-w1 {
    width: 156px;
}

.input-code {
    color: black;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: 2px solid black;
    /* background-color: #9da5b1; */
    margin: 0 10px;
    text-align: center;
    /* &:first-child {
      margin-left: 0;
  }

  &:focus {
      outline: none;
      border: 2px solid #e86868;
  } */
}

.hide {
    transform: scaleX(0);
    transition: transform 400ms ease 0ms;
}

.show {
    transform: scaleX(1);
    transition: transform 400ms ease 0ms;
}