	.blink-bg {
	    // padding: 10px;
	    display: inline-block;
	    // border-radius: 5px;
	    animation: blinkingBackground 0.7s;
	}
	
	@keyframes blinkingBackground {
	    0% {
	        background-color: #ff0000;
	        color: #fff;
	    }
	    50% {
	        background-color: #ffffff;
	        color: #fff;
	    }
	    100% {
	        background-color: #ff0000;
	        color: #fff;
	    }
	}