// Here you can add other styles
.form-control {
    color: black;
}

.cursor-pointer {
    cursor: pointer;
}

td>span {
    padding-bottom: 0.25rem !important;
}

.pagination>li.active>a.page-link {
    border-color: darkgray;
    color: black;
    background-color: gainsboro;
}

li.page-item>a.page-link {
    color: #768192;
}

.CDataTable_transparent__qAZ-y {
    opacity: 0.4;
}

.CDataTable_icon-transition__1TJkV {
    transition: transform 0.3s;
}

.CDataTable_arrow-position__1hvHj {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.CDataTable_rotate-icon__3Fis6 {
    transform: translateY(-50%) rotate(-180deg);
}